<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>YUJI</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Sawarabi+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Luckiest+Guy|Sawarabi+Gothic&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="app" class="container">
      <div class="box">
        <h1>MY TODOS<span class="date">{{ days }}</span></h1>
          <span class="info">({{ remaining.length }}/{{ todos.length }})</span>
          <div @click="purge" class="btn-circle-flat purge" >CLEAR</div>
          <ul>
            <!-- <transition-group tag="div"> -->
              <li v-for="(todo, index) in todos" class="todo-list" :class="{done: todo.isDone}">
                  <input type="checkbox" v-model="todo.isDone">
                  <span :class="{done: todo.isDone}">{{ todo.title }}</span>
                  <span @click="deleteItem(index)" class="command">[消]</span>
              </li>
            <!-- <transition-group> -->
            <li v-show="!todos.length">予定はありません。</li>
          </ul>
          <form @submit.prevent="addItem" class="form">
            <input type="text" v-model="newItem">
            <input type="submit" value="ADD" class="btn-circle-flat">
          </form>
      </div>

    </div>
      <script src="https://unpkg.com/vue@2.6.10"></script>
      <script src="https://unpkg.com/vue-router@3.0.6"></script>
      <script src="js/main.js"></script>
  </body>
</html>
